#how-to-use.tab-pane.fade.active.in
  .wrapper-to
    .span8
      %p
        %strong=t(".how_desc1_html")
      .base-line-how.to.row
        .span2
          =image_tag "img/howto/pc.png"
          %span=t(".how_desc2")
        .span6=t(".how_desc3_html")
      %br
      %div
      %p
        %em
          =t(".how_desc4")
          %strong=t(".how_desc5")
          =t(".how_desc6")
      %p
        %em
          =t(".how_desc7")
          %strong=t(".how_desc8")
          of your email
          %strong=t(".how_desc9")
          =t(".how_desc10")
=content_for :how_to_setup do
  .col-sm-9.setup-reminder-tab
    .tab-content{style: "background: lavender;"}
      #how-to-use.tab-pane.fade.active.in
        .wrapper-cc
          .span8
            .base-line-how.cc.row
              .span2
                =image_tag "img/howto/tablet.png"
                %span=t(".how_desc11")
              .span6
                =t(".how_desc12")
            %br
            %div
            %p
              %em
                =t(".how_desc13")
                %strong=t(".how_desc14")
                =t(".how_desc15")
                %strong=t(".how_desc16")
    
  .col-sm-9.setup-reminder-tab
    / How to Use?
    .tab-content
      #how-to-use.tab-pane.fade.active.in
        .wrapper-bcc
          .span8
            .base-line-how.bcc.row
              .span2
                =image_tag "img/howto/laptop.png"
                %span=t(".how_desc17")
              .span6=t(".how_desc18")
            %br
            %div
            %p
              %em
                =t(".how_desc19")
                %strong=t(".how_desc20")
                =t(".how_desc21")
                %strong=t(".how_desc22")
                =t(".how_desc23")
            %p
              %em
                =t(".how_desc24")
                %strong=t(".how_desc25")
                =t(".how_desc26")
                %strong=t(".how_desc27")
                =t(".how_desc28")


