#intuitive-system.tab-pane.fade.in 
  %p
    Don't worry if you send a Remailder with wrong settings. We will send you a confirmation email and help you fix it until you really get used to it and become a Remailder pro!
  %p
    Trust your intuition!
