/ Keywords
#keywords.tab-pane.fade
  =render "keywords_modal"
  .span8
    %p=t(".key_desc1_html")
    %h4=t(".key_desc2")
    %ul
      %li=t(".key_desc3")
      %li=t(".key_desc4")
    %h4=t(".key_desc5")
    %ul
      %li=t(".key_desc6")
      %li=t(".key_desc7")
    %p
      %em=t(".key_desc8")
    %h4=t(".key_desc9")
    %ul
      %li=t(".key_desc10")
      %li=t(".key_desc11")
    %p
      %em=t(".key_desc12")
    %h4=t(".key_desc13")
    %ul
      %li=t(".key_desc14")
      %li=t(".key_desc15")
    %p=t(".key_desc16")
    %p=t(".key_desc17")
    %p
      =t(".key_desc18")
      %a#list-functions{"data-mce-href" => "#", :href => "#"}=t(".key_desc19")
