#subscribe{style: "display: none;"}
  =form_tag "http://my.remailderdev.com:3000/users", method: :post do 
    .reg-page
      .row
        .col-md-9
          .reg-header
            %h2=t(".subs_register")
        .col-md-3
          .badge.badge-info.pull-right
            =t(".subs_credit")
      %p
        =t(".subs_member")
        %a.signin-link.color-green{href: "#"}=t(".subs_log")
        =t(".subs_log_account")
      %label
        =t(".subs_email")
        %span.color-red *
      =email_field "user", "email", class: "form-control margin-bottom-20", required: :required
      = hidden_field_tag 'user[subscription][plan][name]', 'trial'
      %label
        =t(".subs_zone")
        %span.color-red *
      =time_zone_select( "user[localization]", "time_zone", nil, { class: "form-control margin-bottom-20", id: "user_localization_timezone" } )
      
      %hr/
      .row
        .col-lg-8.checkbox
          %label
            %input{:type => "checkbox", name: "user[tos]", value: Time.now}(required)
            =t(".subs_read")
            %a.color-green{:href => terms_of_service_path}=t(".subs_terms")
        .col-lg-4.text-right
          %button.btn-u{:type => "submit"}=t(".subs_register")
