/ Time formats
#time-formats.tab-pane.fade
  %h4 To specify when your Remailder will be sent add any time information you can think of:
  %p
    %em
      Example: i
      %strong> n2days@remailder.com
      , will send a Remailder in 2 days
  %p Our intuitive system will recognize any time information you will use to setup a Remailder. Feel free to try the following:
  .row
    .text-center
      #carousel-container
        #phone-carousel.carousel.slide
          .carousel-inner
            .item
              To: in2days@remailder.com
              %span Sends a Remailder in 2 days
            .item
              To: everymonday@remailder.com
              %span Sends a Remailder every Monday
            .item
              To: tomorrow@remailder.com
              %span Sends a Remailder tomorrow
            .item
              To: 08-15-2014@remailder.com
              %span Sends a Remailder on 15th August
            .item.active
              To: at4pm@remailder.com
              %span Sends a Remailder at 4pm
            .item
              To: tuesday@remailder.com
              %span Sends a Remailder next tuesday
      =image_tag "img/iphone-home.png"
      %br
      %br
  .row
    .col-md-12
      %h4 You can also easily combine different time information together:
      %p
        %em
          Example:
          %strong 1Julyat1pm@remailder.com
          , will send a Remailder on 1st of July at 1pm.
      %p
        %em
          Example:
          %strong mondayat1pm@remailder.com
          , will send a Remailder the following Monday at 1pm.
      %p
        %br/
  .row
    .col-md-9
      %h4 Remailder recognizes time zones from your email headers:
      %p If you setup a Remailder for 1 PM, you will be reminded as per your own time zone. This means you wont have to specify if you are +5 GMT (for PST) as far as your email has the right country set in it.
    =image_tag "img/howto/clock.png", style: "width: 10%;"
=content_for :specific_javascript do 
  :javascript
    $('#phone-carousel, .phone-carousel').carousel();