/ Time formats
#time-formats.tab-pane.fade
  %h4=t(".time_desc1")
  %p
    %em
      =t(".time_desc2")
      %strong=t(".time_desc3")
      =t(".time_desc4")
  %p=t(".time_desc5")
  .row
    .text-center
      #carousel-container
        #phone-carousel.carousel.slide
          .carousel-inner
            .item
              =t(:what_is_rem_carousel_1_html)
            .item
              =t(:what_is_rem_carousel_2_html)
            .item
              =t(:what_is_rem_carousel_3_html)
            .item.active
              =t(:what_is_rem_carousel_4_html)
            .item
              =t(:what_is_rem_carousel_5_html)
            .item
              =t(:what_is_rem_carousel_6_html)
      =image_tag "img/iphone-home.png"
      %br
      %br
  .row
    .col-md-12
      %h4=t(".time_desc6")
      %p
        %em
          =t(".time_desc7")
          %strong=t(".time_desc8")
          =t(".time_desc9")
      %p
        %em
          =t(".time_desc10")
          %strong=t(".time_desc11")
          =t(".time_desc12")
      %p
        %br/
  .row
    .col-md-9
      %h4=t(".time_desc13")
      %p=t(".time_desc14")
    =image_tag "img/howto/clock.png", style: "width: 10%;"
=content_for :specific_javascript do 
  :javascript
    $('#phone-carousel, .phone-carousel').carousel();