
=content_for :title do
  =t(".title")
.container.content
  .row
    .col-md-9
      / General Questions
      .headline
        %h2=t(".title_question")
      #accordion.panel-group.acc-v1.margin-bottom-40
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                =t(".faq_q1")
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              %p
                =t(".faq_q2")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                =t(".faq_q3")
          #collapseTwo.panel-collapse.collapse
            .panel-body
              %p
                =t(".faq_q4")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                =t(".faq_q5")
          #collapseThree.panel-collapse.collapse
            .panel-body
              %p=t(".faq_q6")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                =t(".faq_q7")
          #collapseFour.panel-collapse.collapse
            .panel-body
              =t(".faq_q8")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                =t(".faq_q9")
          #collapseFive.panel-collapse.collapse
            .panel-body
              %p=t(".faq_q10")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
                =t(".faq_q11")
          #collapseSix.panel-collapse.collapse
            .panel-body
              =t(".faq_q12")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
                =t(".faq_q13")
          #collapseSeven.panel-collapse.collapse
            .panel-body
              =t(".faq_q14")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseHeight"}
                =t(".faq_q15")
          #collapseHeight.panel-collapse.collapse
            .panel-body
              =t(".faq_q16")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine"}
                =t(".faq_q17")
          #collapseNine.panel-collapse.collapse
            .panel-body
              =t(".faq_q18")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen"}
                =t(".faq_q19")
          #collapseTen.panel-collapse.collapse
            .panel-body
              =t(".faq_q20")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven"}
                =t(".faq_q21")
          #collapseEleven.panel-collapse.collapse
            .panel-body
              =t(".faq_q22")     
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve"}
                =t(".faq_q23")
          #collapseTwelve.panel-collapse.collapse
            .panel-body
              =t(".faq_q24")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen"}
                =t(".faq_q25")
          #collapseFourteen.panel-collapse.collapse
            .panel-body
            %p 
              =t(".faq_q26")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen"}
                =t(".faq_q27")
          #collapseThirteen.panel-collapse.collapse
            .panel-body
              =t(".faq_q28")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen"}
                =t(".faq_q29")
          #collapseFifteen.panel-collapse.collapse
            .panel-body
              =t(".faq_q30")
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen"}
                =t(".faq_q31")
          #collapseSixteen.panel-collapse.collapse
            .panel-body
              =t(".faq_q32")

    / /col-md-9
    .col-md-3
      / Contacts
      .headline
        %h2=t(".faq_q33")
      %ul.list-unstyled.who.margin-bottom-30
        %li
          %a{:href => "#"}
            %i.fa.fa-home>
            3/F Citicorp Centre, 18 Whitfield Road 
            Causeway Bay, Hong Kong 
        %li
          %a{:href => "#"}
            %i.fa.fa-envelope>
            =link_to "contact@remailder.com", "mailto:contact@remailder.com"
        %li
          %a{:href => "#"}
            %i.fa.fa-globe>
            http://www.remailder.com
      / End Contacts
