
=content_for :title do
  Frequently Asked Questions
.container.content
  .row
    .col-md-9
      / General Questions
      .headline
        %h2 General Questions
      #accordion.panel-group.acc-v1.margin-bottom-40
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                What is Remailder?
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              %p
                Remailder is an easy email reminder services,which allow you to track any time all your email and achieve zero inbox! Please follow this link to discover all our features.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                Is registering with Remailder open and free?
          #collapseTwo.panel-collapse.collapse
            .panel-body
              %p
                Registering with Remailder is completely open and free. To register, click here. If you want to use some specific and unlimited Remailder services, you will have the possibility to subscribe to our Plus and Pro packages.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                How do I contact Remailder?
          #collapseThree.panel-collapse.collapse
            .panel-body
              %p To contact the Remailder team, please send an email to contact@remailder.com. Before you do this, check if the answer to your question has not been previously addressed on this FAQ section or on our page how to use.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                Do I need to install anything?
          #collapseFour.panel-collapse.collapse
            .panel-body
              Remailder does not require any installations. 
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                Will my details be visible?
          #collapseFive.panel-collapse.collapse
            .panel-body
              %p Remailder is a closed, anonymous platform. This means that at no time will the details our client be communicated or broadcast to the other party.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
                How do I de-register from Remailder?
          #collapseSix.panel-collapse.collapse
            .panel-body
              To suspend or remove your Remailder account, you only need to use the link ‘Unsubscribe’ in your settings.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
                Your acceptance of these terms
          #collapseSeven.panel-collapse.collapse
            .panel-body
              By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseHeight"}
                Do you have a Privacy Policy?
          #collapseHeight.panel-collapse.collapse
            .panel-body
              Yes, our Privacy Policy is available at privacy
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine"}
                Does Remailder affect my email inbox (Outlook, Gmail, Lotus,...)? Will anything change for me or my users?
          #collapseNine.panel-collapse.collapse
            .panel-body
              Remailder does not impact the ranking or display of your email inbox.  Our application does not change anything in the inbox itself.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen"}
                What data does Remailder store?
          #collapseTen.panel-collapse.collapse
            .panel-body
              Remailder only stores the email messages you specifically ask us to route for you. By default, these messages are deleted automatically after one year.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven"}
                Is my email password safe?
          #collapseEleven.panel-collapse.collapse
            .panel-body
              All passwords or tokens that we store are encrypted and stored behind both physical and software security. We do our best to keep this and all of your information extremely safe.            
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve"}
                I have lost my login details
          #collapseTwelve.panel-collapse.collapse
            .panel-body
              If you cannot find your Remailder login details, you can ask to receive them by clicking here. Make sure you check your spam folder.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen"}
                I have not received the confirmation email after my subscritpion
          #collapseFourteen.panel-collapse.collapse
            .panel-body
            %p 
              After the initial registration stage (email and password), you should receive an email containing a confirmation link. By clicking on this link you activate your account and you can start to follow the process. If you have not received this email, check your spam folder, or click here to receive the message again.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen"}
                I can't seem to register myself or identify myself on Remailder
          #collapseThirteen.panel-collapse.collapse
            .panel-body
              Please check that your browser accepts cookies and that your firewall isn’t preventing you from sending information.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen"}
                Is there a limit to the referral program of Remailder?
          #collapseFifteen.panel-collapse.collapse
            .panel-body
              There is no limit to the use of the referral program. For each referree, you have the opportunity to get some free remailder and for 10 referrees you will get 1 month free of our Pro package.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen"}
                Will I be charged for SMS notifications?
          #collapseSixteen.panel-collapse.collapse
            .panel-body
              While Remailder does not charge separately for SMS notifications, standard message and data rates apply.

    / /col-md-9
    .col-md-3
      / Contacts
      .headline
        %h2 Contacts
      %ul.list-unstyled.who.margin-bottom-30
        %li
          %a{:href => "#"}
            %i.fa.fa-home>
            3/F Citicorp Centre, 18 Whitfield Road 
            Causeway Bay, Hong Kong 
        %li
          %a{:href => "#"}
            %i.fa.fa-envelope>
            =link_to "contact@remailder.com", "mailto:contact@remailder.com"
        %li
          %a{:href => "#"}
            %i.fa.fa-globe>
            http://www.remailder.com
      / End Contacts
