=content_for :title do
  =t(".title")
.one-page
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f1_header")
          %p
            =t(".f1_description_html")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              %strong=t(".to")
              =t(".f1_description_to")
            %li
              %i.fa.fa-check.color-green
              %strong=t("cc")
              =t(".f1_description_cc")
            %li
              %i.fa.fa-check.color-green
              %strong=t(".bcc")
              =t(".f1_description_bcc")
          .text-center
            %a.btn-u.btn-u-dark-blue.one-page-btn{class: "fancybox fancybox.iframe", href: "http://www.youtube.com/embed/#{t('.f1_video_yt_id')}?enablejsapi=1&wmode=opaque" }
              %i.fa.fa-play
              =t(".f1_video")
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/remailder.png", }/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Language.png"}/
        .col-md-6
          %h1=t(".f2_header")
          %p
            =t(".f2_description_html")
          %p=t(".f2_description_example")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              =t(".f2_description_french")
            %li
              %i.fa.fa-check.color-green
              =t(".f2_description_spanish")
            %li
              %i.fa.fa-check.color-green
              =t(".f2_description_german")
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f3_header")
          %p=t(".f3_description_1") 
          %p=t(".f3_description_2")
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Alias.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Snooze.png"}/
        .col-md-6
          %h1=t(".f4_header")
          %p=t(".f4_description_1")
          %p=t(".f4_description_2")
          %br/
          .text-center
            %a.btn-u.btn-u-dark-blue.one-page-btn.text-center{ class: "fancybox fancybox.iframe", href: "http://www.youtube.com/embed/#{t('.f4_video_yt_id')}?enablejsapi=1&wmode=opaque" }
              %i.fa.fa-play
              =t(".f4_video")
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f5_header")
          %p=t(".f5_description_html")
          %p=t(".f5_description_1_html")
          %p=t(".f5_description_2")
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Recurring.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Auto_Completion.png"}/
        .col-md-6
          %h1=t(".f6_header")
          %p=t(".f6_description_1")
          %br/
          .text-center
            %a.btn-u.btn-u-dark-blue.one-page-btn{href: t(".f6_download_link")}
              %i.fa.fa-download
              =t(".f6_video")
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f7_header")
          %p=t(".f7_description_1")
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Calendar.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/reports.png"}/
        .col-md-6
          %h1=t(".f8_header")
          %p=t(".f8_description_1")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              =t(".f8_description_2")
            %li
              %i.fa.fa-check.color-green
              =t(".f8_description_3")
            %li
              %i.fa.fa-check.color-green
              =t(".f8_description_4")
          %p=t(".f8_description_5")
          %br/
          .text-center
            %a.btn-u.btn-u-dark-blue.one-page-btn{ {class: "fancybox fancybox.iframe", href: "http://www.youtube.com/embed/#{t('.f8_video_yt_id')}?enablejsapi=1&wmode=opaque" } }
              %i.fa.fa-play
              =t(".f8_video")
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f9_header")
          %p=t(".f9_description_1")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              =t(".f9_description_2")
            %li
              %i.fa.fa-check.color-green
              =t(".f9_description_3")
          %p=t(".f9_description_4")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              =t(".f9_description_5")
            %li
              %i.fa.fa-check.color-green
              =t(".f9_description_6")
            %li
              %i.fa.fa-check.color-green
              =t(".f9_description_7")
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Settings.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Stats.png"}/
        .col-md-6
          %h1=t(".f10_header")
          %p=t(".f10_description_1")
          %p
            %strong=t(".f10_description_html")
          %p=t(".f10_description_2")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              =t(".f10_description_3")
            %li
              %i.fa.fa-check.color-green
              =t(".f10_description_4")
            %li
              %i.fa.fa-check.color-green
              =t(".f10_description_5")
          %p
            %strong=t(".f10_description_6")
          %p=t(".f10_description_7")
          %br/
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f11_header")
          %p=t(".f11_description_1")
          %p=t(".f11_description_2")
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Auto_Detection.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Pro.png"}/
        .col-md-6
          %h1=t(".f12_header")
          %p=t(".f12_description_1")
          %br/
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f13_header")
          %p=t(".f13_description_1")
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Sms.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Pro.png"}/
        .col-md-6
          %h1=t(".f14_header")
          %p=t(".f14_description_1")
          %br/
          %a.btn-u.btn-u-dark-blue.one-page-btn
            %i.fa.fa-contact
            =t(".f14_video")

