=content_for :title do
  Features
.one-page
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".f1_header")
          %p
            =t(".f1_description_html")
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              %strong=t(".to")
              =t(".f1_description_to")
            %li
              %i.fa.fa-check.color-green
              %strong=t("cc")
              =t(".f1_description_cc")
            %li
              %i.fa.fa-check.color-green
              %strong=t(".bcc")
              =t(".f1_description_bcc")
          %a.btn-u.btn-u-dark-blue.one-page-btn
            %i.fa.fa-play
            How to setup your first remailder?
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/remailder.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Language.png"}/
        .col-md-6
          %h1 Multilingual website and time format
          %p
            %strong Remailder is available in 5 languages: English, French, German, Spanish and Chinese.
            So not only you can access our website easily but also time information you setup on Remailders are multilingual.
          %p Example: in English in2weeks@remailder.com could be also understood by our system:
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              in French with dans2semaines@remailder.com,
            %li
              %i.fa.fa-check.color-green
              in Spanish with en2semanas@remailder.com,
            %li
              %i.fa.fa-check.color-green
              in German with in2woche@remaidler.com.
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 Use multiple aliases
          %p You are using different emails addresses. We can automatically link them to the same Remailder account.
          %p Just log in your Remailder.com account and add extra addresses. Our team will review each of your requests prior to confirmation.
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Alias.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Snooze.png"}/
        .col-md-6
          %h1 Snooze Remailder
          %p Use our Snooze function on any Remailder you receive to postpone his due date.
          %p Example: you've just received a Remailder for a task you need to postpone. Just snooze the Remailder to the next day!
          %br/
          %a.btn-u.btn-u-dark-blue.one-page-btn.text-center
            %i.fa.fa-play
            How to snooze a Remailder?
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 Recurring Remailder
          %p
            Add
            %strong Every
            in front of your Remailder to make it recurring.
          %p
            Example:
            %em everytuesday@remailder.com
            will send you a Remailder every tuesday.
          %p Note that a recurring Remailder can be deleted at any time by forwarding the original email to delete@remailder.com
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Recurring.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Auto_Completion.png"}/
        .col-md-6
          %h1 Send formatted contact list to your mail system
          %p As efficiency is important to us we also provide you a contact list of the most used Remailders. Most mail systems (google, outlook,…) will quickly recognize them once you start tipping your time information and will make setup even faster!
          %br/
          %a.btn-u.btn-u-dark-blue.one-page-btn
            %i.fa.fa-download
            Download the formatted list!
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 View all your Remailder on your calendar (Plus)
          %p You can view and manage all your Remailder, either on our website or by synchronization with your favorite calendars: Google calendar, Microsoft Outlook, Lotus etc.
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Calendar.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/reports.png"}/
        .col-md-6
          %h1 Daily/Weekly Reminder synthesis (Plus)
          %p Receive daily or weekly reminder synthesis by:
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              sending an email at pending@remailder.com,
            %li
              %i.fa.fa-check.color-green
              setting up your account on our site for automatic reporting,
            %li
              %i.fa.fa-check.color-green
              or simply with a click on pending on a Remailder you have received
          %p Keeping you up dated without having to ask!
          %br/
          %a.btn-u.btn-u-dark-blue.one-page-btn
            %i.fa.fa-play
            How to set up reporting?
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 Advance Remailder Settings (Plus)
          %p Access your account on our website to configure your Remailders:
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              add you company logo,
            %li
              %i.fa.fa-check.color-green
              desactivate Remailder logo
          %p You can also setup some other options such as:
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              sending Remailders using your own email addresses,
            %li
              %i.fa.fa-check.color-green
              sending Remailders without our logos on it
            %li
              %i.fa.fa-check.color-green
              receiving a confirmation of reception for each Remailder you have setup
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Settings.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Stats.png"}/
        .col-md-6
          %h1 Statistics (Pro)
          %p You can access different type of statistic either by email or via our website.
          %p
            %strong By email:
          %p Send an email to stats@remailder.com and it will send you a recap with:
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.fa.fa-check.color-green
              \% of Remailder you have sent and that have been replied on time
            %li
              %i.fa.fa-check.color-green
              \# of Remailder you sent last months
            %li
              %i.fa.fa-check.color-green
              \# of Remailder you received last month
          %p
            %strong On our website:
          %p Login on our website to review all sort of statistics about your Remailder activity.
          %br/
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 Automatic Remailder reply detection (Pro)
          %p Our system will detect if a Remailder has been answered and will automatically delete it for you so you don’t get unnecessary emails.
          %p Reactivate your Remailder if the original Remailder you have sent to someone has not been answer properly or need extra follow-up.
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Auto_Detection.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Pro.png"}/
        .col-md-6
          %h1 Keeping your attachments (Pro)
          %p Forward your attachments when you send a Remailder and they will automatically be back with them at due date.
          %br/
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 SMS Remailder (Pro)
          %p Use our SMS services to receive a Remailder on your mobile phone when you have no email access.
          %br/
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Sms.png"}/
  .one-page-inner.one-default
    .container.content
      .row
        .col-md-6
          %img.img-responsive.margin-bottom-10.feature-center{:alt => "", :src => "assets/img/features/Pro.png"}/
        .col-md-6
          %h1 Pro accounts / multi accounts
          %p We will provide specials options to our Pro or Multi accounts (more than 20 accounts). Please contact us directly for more details.
          %br/
          %a.btn-u.btn-u-dark-blue.one-page-btn
            %i.fa.fa-contact
            Contact Us

