=render "modal_subscription"
/ === Slider ===
.tp-banner-container
  .tp-banner
    %ul
      / SLIDE
      %li.revolution-mch-1{"data-masterspeed" => "1000", "data-slotamount" => "5", "data-title" => "Slide 2", "data-transition" => "fade"}
        / MAIN IMAGE
        %img{:alt => "darkblurbg", "data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", :src => "assets/img/sliders/2.jpg"}/
        .tp-caption.revolution-ch1.sft.start{"data-easing" => "Back.easeInOut", "data-endeasing" => "Power1.easeIn", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "1500", "data-start" => "500", "data-x" => "center", "data-y" => "100"}
          .slider-header
            =t(:main_slide_fast_mail_reminder)
        / LAYER
        .tp-caption.revolution-ch2.sft{"data-captionhidden" => "off", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power1.easeIn", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "1400", "data-start" => "2000", "data-x" => "center", "data-y" => "190", :style => "z-index: 6"}
          .slider-text
            %strong 
              =t(:main_slide_to_task)
            %br/
            =t(:main_slide_subheader)
        / LAYER
        .tp-caption.sft{"data-captionhidden" => "off", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power1.easeIn", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "1600", "data-start" => "2800", "data-x" => "center", "data-y" => "310", :style => "z-index: 6"}
          / Button play video
          %a.btn-u.btn-u-lg.re-btn-brd.margin-right-5{class: "fancybox fancybox.iframe", href: "http://www.youtube.com/embed/L1jjeY_tbg8?enablejsapi=1&wmode=opaque"}
            %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
            =t(:main_slide_watch_video)
          / Button subscribe
          %a.btn-u.btn-u-lg.btn-u-dark-blue{class: "btn-subscribe fancybox.iframe", :href => "#subscribe"}=t(:main_slide_trial)
      / END SLIDE
    .tp-bannertimer.tp-bottom
/ === End Slider ===
/ === Content Part 1 ===
.container.what-is-it-container.content
  / Info Blokcs
  .row.margin-bottom-40
    / What is Remailder
    .col-md-8.md-margin-bottom-40
      .headline
        %h2=t(:what_is_rem_title)
      .row
        .col-sm-10
          %br
          %p.p1{style: "font-size: 26px;"}=t(:what_is_rem_p1)
          %p.p2=t(:what_is_rem_p2)
          
    / /col-md-8
    / Posts
    .col-md-4.posts.phone-container
      #carousel-container
        #phone-carousel.carousel.slide
          .carousel-inner
            .item
              =t(:what_is_rem_carousel_1_html)
            .item
              =t(:what_is_rem_carousel_2_html)
            .item
              =t(:what_is_rem_carousel_3_html)
            .item.active
              =t(:what_is_rem_carousel_4_html)
            .item
              =t(:what_is_rem_carousel_5_html)
            .item
              =t(:what_is_rem_carousel_6_html)
      %img{:src => "assets/img/iphone-home.png", :style => "max-width: 100%;"}/
  / /row
  / End Info Blokcs
/ End of content part 1 !
/ Our services
.parallax-team.parallaxBg{:style => "background-position: 50% -47px;"}
  .container.content.small-container
    .title-box-v2
      
    .row
      / Team v2
      .col-md-3.col-sm-6.our-service
        .team-v2
          %img.img-responsive{:alt => "", :src => "assets/img/features/remailder.png"}/
          .inner-team
            %h3 
              .white
                =t(:service_1)
      / End Team v2
      / Team v2
      .col-md-3.col-sm-6.our-service
        .team-v2
          %img.img-responsive{:alt => "", :src => "assets/img/features/reports.png"}/
          .inner-team
            %h3 
              .white
                =t(:service_2)
      / End Team v2
      / Team v2
      .col-md-3.col-sm-6.our-service
        .team-v2
          %img.img-responsive{:alt => "", :src => "assets/img/features/Calendar.png"}/
          .inner-team
            %h3 
              .white
                =t(:service_3)
      / End Team v2
      / Team v2
      .col-md-3.col-sm-6.our-service
        .team-v2
          %img.img-responsive{:alt => "", :src => "assets/img/features/Auto_Detection.png"}/
          .inner-team.response-detection
            %h3 
              .white
                =t(:service_4)
      / End Team v2
      / Team v2
      .col-md-3.col-sm-6.our-service
        .team-v2
          %img.img-responsive{:alt => "", :src => "assets/img/features/Stats.png"}/
          .inner-team
            %h3 
              .white
                =t(:service_5)
      / End Team v2
/ End our services
/ How it will help you?
/ === Content Part 2 ===
.container.content.how-it-will-help
  / How it will help you part
  .headline
    %h2=t(:How_Help)
  .row.margin-bottom-20
    .col-md-4.col-sm-6
      .thumbnail-img
        .overflow-hidden
          %img.img-responsive{:alt => "", :src => "assets/img/Sablier.png"}/
      .caption
        %h3
          =t(:save_time)
        %p
          =t(:save_time_1)
        %p
          =t(:save_time_2)
    .col-md-4.col-sm-6
      .thumbnail-img
        .overflow-hidden
          %img.img-responsive{:alt => "", :src => "assets/img/Time.png"}/
      .caption
        %h3
          =t(:just_time)
        %p
          =t(:just_time_1)
        %p
          =t(:just_time_2)
    .col-md-4.col-sm-6
      .thumbnail-img
        .overflow-hidden
          %img.img-responsive{:alt => "", :src => "assets/img/Runner.png"}/
      .caption
        %h3
          =t(:opti_time)
        %p
          =t(:opti_time_1)
        %p
          =t(:opti_time_2)
/ End of How it will help you?
/ Work on all devices !
.work-on-all-device.margin-bottom-60
  .container
    %h2.headline-brd=t(:all_devices)
    .row
      .col-md-6.md-margin-bottom-60
        .headline-left.margin-bottom-20
          %p.white
            =t(:all_devices_1)
        / /end Headline Left
        .row
          .col-md-12
            %p.white
              =t(:all_devices_2)
          .col-md-12
            =image_tag "img/logos-soft.png"
      .col-md-4
        %img.img-responsive{:alt => "", :src => "assets/img/devices/all_devices.png"}/
  / /end container
/ End of Work on all devices !
.container.content.container-last
  .margin-top-20.margin-bottom-20
    %a.btn-trial.btn-u.btn-lg.btn-u-dark-blue.shrink{:href => "#"}
      =t(:start_button)
      %br/
      =t(:no_credit)
/ End How it will help you part
