=content_for :title do
  Premium Reseller
.row.premium
  .container.content
    .col-md-12
      %h1
        You trust in Remailder services, join our Reseller Network
    .col-md-8
      %p
        %br{"data-mce-bogus" => "1"}/
      %p Contribute to develop Remailder community with us and catch a part of our revenue! The world is open we work already in English, French, Spanish, Chinese and German….
      %p Subscribe to our reseller Network and after your 10 first sales, make money!
      %p
        Sale a
        %strong Pro
        Account and catch during 6 month until 30% of our revenue for this account.
        %br/
        Sale a
        %strong Plus
        Account and catch during 3 month until 30% of our revenue for this account.
      %p
        %em
          Just on example, sale 100 Pro accounts and get:
          %br/
          100 (users)* 6 (month) * 3.99$* 30% =
          %strong 720$
      %p
        To help you to develop the community we give you some
        %strong marketing tools
        (Press kit, News and Buzz about Remailder, Statistics).
      %button.btn.btn-large.btn-primary.register-premium-seller.text-center
        Register

    .col-md-4.text-center
      =image_tag "img/features/Language.png"

