=content_for :title do
  Pricing
.container.content
  .heading.heading-v1.margin-bottom-20
    %h2{style: "font-size: 30px;"} Pricing
    .pricing-headline
      %p It's free to use Remailder (no credit card to sign up). You have also the possibility to Adapt Remailders to your need!
  .row.no-space-pricing.pricing-mega-v1
    .col-md-4.col-sm-6.hidden-sm.hidden-xs
      .pricing.hidden-area
        .pricing-head
          %h4.price Price per Month
        %ul.pricing-content.list-unstyled
          %li.bg-color
            %i.fa.fa-users>
            Send Remailders
          %li
            %i.fa.fa-cloud-upload>
            Multiple Alias
          %li.bg-color
            %i.fa.fa-briefcase>
            Snooze Remailders
          %li
            %i.fa.fa-envelope>
            Recurring Remailders
          %li.bg-color
            %i.fa.fa-inbox
            Formated Contact List
          %li
            %i.fa.fa-gift>
            Calendar Synchronization
          %li.bg-color
            %i.fa.fa-leaf>
            Daily/Weekly Reports
          %li
            %i.fa.fa-location-arrow>
            Advance Settings
          %li.bg-color
            %i.fa.fa-globe>
            Statistics
          %li
            %i.fa.fa-dashboard>
            Reply Detection
          %li.bg-color
            %i.fa.fa-wrench>
            Keeping Attachments
          %li
            %i.fa.fa-cogs>
            SMS Remailders
    .col-md-2-5.col-sm-6.block
      .pricing
        .pricing-head
          =image_tag "img/pricing/lite.png", class: "pricing-logo"
          .pricing-header
            %h3
              Lite
              %span For Free
          %h4.price
            %i> $
            0
            %i .00
            %span.hidden-md.hidden-lg Per Month
        %ul.pricing-content.list-unstyled
          %li.bg-color
            20/month
            %span.hidden-md.hidden-lg Send Remailders
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Multiple Alias
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Snooze Remailders
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Recurring Remailders
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Formatted Contact List
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Calendar Synchronization
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Daily/Weekly Reports
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Advance Settings
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Statistics
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Reply Detection
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Keeping Attachments
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg SMS Remailders
        .btn-group.btn-group-justified
          %button.btn-u.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-shopping-cart
            Sign Up
            %i.fa.fa-angle-down
    .col-md-2-5.col-sm-6.block
      .pricing
        .pricing-head
          =image_tag "img/pricing/plus.png", class: "pricing-logo"
          .pricing-header
            %h3
              Plus
              %span For Everyday
          %h4.price
            %i> $
            2
            %i .99
            %span.hidden-md.hidden-lg Per Month
        %ul.pricing-content.list-unstyled
          %li.bg-color
            Unlimited
            %span.hidden-md.hidden-lg Send Remailders
          %li
            1 Extra Alias
            %span.hidden-md.hidden-lg Multiple Alias
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Snooze Remailders
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Recurring Remailders
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Formatted Contact List
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Calendar Synchronization
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Daily/Weekly Reports
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Advance Settings
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Statistics
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Reply Detection
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg Keeping Attachments
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg SMS Remailders
        .btn-group.btn-group-justified
          %button.btn-u.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-shopping-cart
            Sign Up
            %i.fa.fa-angle-down
    .col-md-2-5.col-sm-6.block
      .pricing
        .pricing-head
          =image_tag "img/pricing/pro.png", class: "pricing-logo"
          .pricing-header
            %h3
              Pro
              %span For Business
          %h4.price
            %i> $
            3
            %i .99
            %span.hidden-md.hidden-lg Per Month
        %ul.pricing-content.list-unstyled
          %li.bg-color
            Unlimited
            %span.hidden-md.hidden-lg Send Remailders
          %li
            10 Extra Alias
            %span.hidden-md.hidden-lg Multiple Alias
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Snooze Remailders
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Recurring Remailders
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Formatted Contact List
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Calendar Synchronization
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Daily/Weekly Reports
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Advance Settings
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Statistics
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Reply Detection
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg Keeping Attachments
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg SMS Remailders
        .btn-group.btn-group-justified
          %button.btn-u.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-shopping-cart
            Sign Up
            %i.fa.fa-angle-down

.one-page
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1 Referral Program – Spread the word and enjoy great benefits!
          %p
            Get 5 Free Remailders every time you send one that reaches a non-Remailder users
          %p
            Send your friends a Remailder and Cc invite@remailder.com to get:
            %ul.list-unstyled.margin-bottom-20
              %li
                %i.fa.fa-check.color-green
                1 month Pro plan each time 5 of your contacts sign up to Remailder
              %li
                %i.fa.fa-check.color-green
                5 free Remailders each time 1 of your contact sign up to Remailder
        .col-md-3
          =image_tag "img/pricing/img11.jpg"