=content_for :title do
  =t(".title_pricing")
.container.content
  .heading.heading-v1.margin-bottom-20
    %h2{style: "font-size: 30px;"}=t(".title_pricing")
    .pricing-headline
      %p=t(".pricing_comment")
  .row.no-space-pricing.pricing-mega-v1
    .col-md-4.col-sm-6.hidden-sm.hidden-xs
      .pricing.hidden-area
        .pricing-head
          %h4.price=t(".price_month")
        %ul.pricing-content.list-unstyled
          %li.bg-color
            %i.fa.fa-users>
            =t(".send_remailders")
          %li
            %i.fa.fa-cloud-upload>
            =t(".multiple")
          %li.bg-color
            %i.fa.fa-briefcase>
            =t(".snooze")
          %li
            %i.fa.fa-envelope>
            =t(".recurring")
          %li.bg-color
            %i.fa.fa-inbox
            =t(".formated")
          %li
            %i.fa.fa-gift>
            =t(".calendar")
          %li.bg-color
            %i.fa.fa-leaf>
            =t(".reports")
          %li
            %i.fa.fa-location-arrow>
            =t(".settings")
          %li.bg-color
            %i.fa.fa-globe>
            =t(".statistics")
          %li
            %i.fa.fa-dashboard>
            =t(".detection")
          %li.bg-color
            %i.fa.fa-wrench>
            =t(".attachments")
          %li
            %i.fa.fa-cogs>
            =t(".sms")
    .col-md-2-5.col-sm-6.block
      .pricing
        .pricing-head
          =image_tag "img/pricing/lite.png", class: "pricing-logo"
          .pricing-header
            %h3
              Lite
              %span=t(".for_free")
          %h4.price
            %i> $
            0
            %i .00
            %span.hidden-md.hidden-lg=t(".per_month")
        %ul.pricing-content.list-unstyled
          %li.bg-color
            =t(".20_month")
            %span.hidden-md.hidden-lg=t(".send_remailders")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".multiple")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".snooze")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".recurring")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".formated")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".calendar")
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".reports")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".settings")
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".statistics")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".detection")
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".attachments")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".sms")
        .btn-group.btn-group-justified
          %button.btn-u.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-shopping-cart
            =t(".sign_up")
            %i.fa.fa-angle-down
    .col-md-2-5.col-sm-6.block
      .pricing
        .pricing-head
          =image_tag "img/pricing/plus.png", class: "pricing-logo"
          .pricing-header
            %h3
              Plus
              %span=t(".for_everyday")
          %h4.price
            %i> $
            2
            %i .99
            %span.hidden-md.hidden-lg=t(".per_month")
        %ul.pricing-content.list-unstyled
          %li.bg-color
            =t(".unlimited")
            %span.hidden-md.hidden-lg=t(".send_remailders")
          %li
            1 Extra Alias
            %span.hidden-md.hidden-lg=t(".multiple")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".snooze")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".recurring")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".formated")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".calendar")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".reports")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".settings")
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".statistics")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".detection")
          %li.bg-color
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".attachments")
          %li
            %i.fa.fa-times
            %span.hidden-md.hidden-lg=t(".sms")
        .btn-group.btn-group-justified
          %button.btn-u.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-shopping-cart
            =t(".sign_up")
            %i.fa.fa-angle-down
    .col-md-2-5.col-sm-6.block
      .pricing
        .pricing-head
          =image_tag "img/pricing/pro.png", class: "pricing-logo"
          .pricing-header
            %h3
              Pro
              %span=t(".for_business")
          %h4.price
            %i> $
            3
            %i .99
            %span.hidden-md.hidden-lg=t(".per_month")
        %ul.pricing-content.list-unstyled
          %li.bg-color
            =t(".unlimited")
            %span.hidden-md.hidden-lg=t(".send_remailders")
          %li
            10 Extra Alias
            %span.hidden-md.hidden-lg=t(".multiple")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".snooze")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".recurring")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".formated")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".calendar")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".reports")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".settings")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".statistics")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".detection")
          %li.bg-color
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".attachments")
          %li
            %i.fa.fa-check
            %span.hidden-md.hidden-lg=t(".sms")
        .btn-group.btn-group-justified
          %button.btn-u.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-shopping-cart
            =t(".sign_up")
            %i.fa.fa-angle-down

.one-page
  .one-page-inner.one-grey
    .container.content
      .row
        .col-md-6
          %h1=t(".referral_1")
          %p
            =t(".referral_2")
          %p
            =t(".referral_3")
            %ul.list-unstyled.margin-bottom-20
              %li
                %i.fa.fa-check.color-green
                =t(".referral_4")
              %li
                %i.fa.fa-check.color-green
                =t(".referral_5")
        .col-md-3
          =image_tag "img/pricing/img11.jpg"