=content_for :title do
  =t(".title_terms_of_service")
.privacy.container.content
  %h1.text-center Terms of Use
  .row-fluid
    .faq
      %h4 Welcome to Remailder 
      %p These Terms of Service (these “TOS”) explain how you can use the Remailder mobile apps, websites, services and software (collectively “Remailder”), provided by Remailder Limited, (“Remailder,” “we” or “our”) so please read carefully these TOS before you get started. They apply to all visitors, users and others who access Remailder (“users”). You can use the Services only in compliance with these TOS.
      %p
        By using Remailder you agree to be bound by these TOS and to the collection and use of your information as spelled out in our
        %a{"data-mce-href" => "http://en.remailder.com/privacy", :href => "http://en.remailder.com/privacy"}
          %strong>
            %em Privacy Policy
          \.
        If you are using Remailder on behalf of a group or organization, you agree to these TOS for that group or organization and represent that you have the authority to do so (in that case, “you” and “your” refers to that group or organization).
      %p In order to use Remailder, you need to (a) be 18 or older, or be 13 or older and have your parent or guardian’s consent to these TOS, and (b) have the power to enter a binding contract with us and are not barred from doing so under any applicable laws. You also warrant that any registration information that you submit to Remailder is true, accurate and complete, and you agree to keep it that way at all times.
      %h4 Using Remailder
      %p Remailder will allow you to change your email into reminder; all the Remailder’s features will help you to increase your productivity. By using Remailder you allow Remailder to help manage content, information, emails and attachment in those emails (together, “your stuff”). You retain full ownership to your stuff. We don’t claim any ownership to any of it. These TOS do not grant us any rights to your stuff or intellectual property except for the limited rights that are needed to run Remailder services, explained below.
      %p We may need your permission to do things you ask us to do with your stuff, for example, hosting your files and emails, or sharing them at your direction. This includes product features visible to you and also includes design choices we make to technically administer Remailder. You give us the permissions we need to do these things solely to provide Remailder. This permission is also extends to trusted third parties we work with to provide Remailder.
      %p You are solely responsible for your conduct, the content of your emails and files, and your communications with others while using Remailder. You are responsible and liable for anything you share, send, receive, record or otherwise do while using Remailder, and you represent that you stuff is actually your stuff or that you have all necessary rights to use your stuff on or through Remailder.
      %p Your password protects your user account, and you are solely responsible for keeping your password confidential and secure. You understand that you are responsible for all use of your username and password on the Service. If your username or password is lost or stolen, or if you believe there has been unauthorized access to your account by third parties, please contact us immediately and change your password as soon as possible.
      %h4
        Privacy Policy and security
      %p
        Remailder respects the privacy of its users and follows the privacy guidelines defined in our Privacy Policy, which is available at
        %a{"data-mce-href" => "http://en.remailder.com/privacy", :href => "http://en.remailder.com/privacy"}
          %strong
            %em Privacy Policy
        and hereby incorporated into these TOS. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.
      %h4 Modifying and Terminating Service
      %p We are constantly changing and improving Remailder. We may add or remove features, and while we will do our best to give you advance notice about any major changes, you understand that we may stop, suspend, or change Remailder at any time without prior notice. We may also remove content from Remailder at our discretion.
      %h4 Term and Termination
      %p This TOS shall continue in perpetuity unless terminated in accordance with this Section Term and Termination. Remailder at any time may terminate this TOS in its sole discretion, including, without limitation, for breach by you of any of your representations, warranties or obligations under this TOS, or for inactivity by you with respect to use of the Website. You may at any time terminate this TOS by logging into your Settings on the Website and then sending a termination request to Remailder. In the event termination is by Remailder, Remailder shall notify you of such termination. Remailder reserves the right, in its sole discretion, to terminate your Membership Account at any time, including, without limitation, deactivating your Membership Name and Membership Password.
      %h4 Payment, Refunds, Upgrading and Downgrading Terms
      %p A valid credit card is required for paying accounts (Plus and Pro accounts). Free accounts are not required to provide a credit card number.
      %p If you sign up for a Plus or Pro account and you don't cancel that account within 15 days before the end of your plan, your plan will be automatically renewed and you will be billed the first day of your renewal’s plan. If you cancel your paying accounts 15 days before the end of your plan, paying account will be downgraded to free account.
      %p An upgrade from free plan to any paying plan will end your free trial. You will be billed for your first month immediately upon upgrading.
      %p The Service is billed in advance for the service period selected and is non-refundable. There will be no refunds for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account.
      %p All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.
      %p Downgrading your Service may cause the loss of Content, features, or capacity of your Account. Remailder does not accept any liability for such loss.
      %p Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes in our TOS.
      %p Remailder shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.
      %h4 Effect of Termination
      %p Upon any termination of this TOS:
      %p - Your Membership Account shall be canceled and closed and your Membership Name and Membership Password shall be deactivated.
      %p - All your private information shall be removed from the Website; provided, however, that Remailder may continue to use the Work for internal archival and reference purposes
      %h4 Indemnity
      %p You agree to defend, indemnify and hold harmless Remailder and its subsidiaries, agents, licensors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of and access to Remailder, including any data or content transmitted or received by you; (ii) your violation of any term of these TOS; (iii) your violation of any third-party right, including without limitation any right of privacy or intellectual property rights; (iv) your violation of any applicable law, rule or regulation; (v) any claim or damages that arise as a result of any of your stuff or any that is submitted via your account; or (vi) any other party’s access and use of Remailder with your unique username, password or other appropriate security code. 
      %h4 Warranties
      %p We promise to provide you a great service, but we can’t promise everything. The site and the service are provided ‘as is’, without warranty of any kind, either express or implied. Without limiting the foregoing, Remailder explicitly disclaims all warranties, including any warranties of merchantability, fitness for a particular purpose or non-infringement. Remailder makes no warranty that the services will meet your requirements or will be available on an uninterrupted, secure, or error free basis. Your use of the services is at your own risk. 
      %h4 Indemnity
      %p You agree to defend, indemnify and hold harmless Remailder and its subsidiaries, agents, licensors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of and access to Remailder, including any data or content transmitted or received by you; (ii) your violation of any term of these TOS; (iii) your violation of any third-party right, including without limitation any right of privacy or intellectual property rights; (iv) your violation of any applicable law, rule or regulation; (v) any claim or damages that arise as a result of any of your stuff or any that is submitted via your account; or (vi) any other party’s access and use of Remailder with your unique username, password or other appropriate security code. 
      %h4 Limitation of Liability
      %p In conjunction with the warranties as explained above, you expressly understand and agree that any claim against us shall be limited to the amount you paid, if any, for use of products and/or services. Remailder will not be liable for any direct, indirect, incidental, consequential or exemplary loss or damages which may be incurred by you as a result of using our Resources, or as a result of any changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that applicable limitation of liability laws apply. 
      %h4 Copyrights/trademarks
      %p All content and materials available on www.remailder.com, including but not limited to text, graphics, website name, code, images and logos are the intellectual property of Remailder Limited, and are protected by applicable copyright and trademark law. Any inappropriate use, including but not limited to the reproduction, distribution, display or transmission of any content of this site is strictly prohibited, unless specifically authorized by Remailder Limited. 
      %h4 Changes to this Terms
      %p We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Services. 
      %h4 Governing Law
      %p This website is controlled by Remailder Limited from our offices located in Hong Kong. It can be accessed by most countries around the world. As each country has laws that may differ from those of Hong Kong, by accessing our website, you agree that the statutes and laws of Hong Kong, without regard to the conflict of laws and the United Nations Convention on the International Sales of Goods, will apply to all matters relating to the use of this website and the purchase of any products or services through this site.
      %p Furthermore, any action to enforce this User Agreement shall be brought in the federal or state courts located in Hong Kong. You hereby agree to personal jurisdiction by such courts, and waive any jurisdictional, venue, or inconvenient forum objections to such courts. 
      %h4 Contact Information
      %p If you have any questions or comments about these our Terms of Service as outlined above, you can contact us at:
      %p REMAILDER LIMITED
      %p
        %a{"data-mce-href" => "http://en.remailder.com", :href => "http://en.remailder.com"}
          %strong
            %em www.remailder.com
      %p 20/A Central Mansion
      %p 270-276 Queens road central, Sheung Wan
      %p Hong Kong
      %p contact@remailder.com
      %h4.no-results.hidden.well
        %em Last modified: July 11,2013
      %br/
      %br/
      %br/
