/ === Footer Version 1 ===
.footer-v1
  .footer
    .container
      .row
        / About
        .col-md-3.md-margin-bottom-40
          %a{:href => "index.html"}
            =image_tag "img/logo1-default.png", {id: "logo-footer", class: "footer-logo"}
          %p
            =t(:desc_footer_1)
          %p
            =t(:desc_footer_2)
        / /col-md-3
        / End About
        / Latest
        .col-md-3.md-margin-bottom-40
          .posts
            .headline
              %h2 Latest Posts
            %ul.list-unstyled.latest-list
              %li
                %a{:href => "#"} Incredible content
                %small May 8, 2014
              %li
                %a{:href => "#"} Best shoots
                %small June 23, 2014
              %li
                %a{:href => "#"} New Terms and Conditions
                %small September 15, 2014
        / /col-md-3
        / End Latest
        / Link List
        .col-md-3.md-margin-bottom-40
          .headline
            %h2=t(:footer_useful)
          %ul.list-unstyled.link-list
            %li
              =link_to t(:header_how_to), how_to_path
              %i.fa.fa-angle-right
            %li
              =link_to t(:header_features), features_path
              %i.fa.fa-angle-right
            %li
              =link_to t(:header_pricing), pricing_path
              %i.fa.fa-angle-right
            %li
              =link_to t(:footer_premium), premium_reseller_path
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"}=t(:header_blog)
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"}=t(:footer_team)
              %i.fa.fa-angle-right
            %li
              =link_to t(:footer_faq), faq_path
              %i.fa.fa-angle-right
        / /col-md-3
        / End Link List
        / Address
        .col-md-3.map-img.md-margin-bottom-40
          .headline
            %h2=t(:footer_contact)
          %address.md-margin-bottom-40
            3/F Citicorp Centre, 18 Whitfield Road
            %br/
            Causeway Bay, Hong Kong
            %br/
            =t(:footer_email)
            %a{:href => "mailto:contact@remailder.com"} contact@remailder.com
        / /col-md-3
        / End Address
  / /footer
  .copyright
    .container
      .row
        .col-md-6
          %p
            2015 © 
            =t(:footer_rights)
            =link_to t(:footer_privacy), privacy_policy_path
            |
            =link_to t(:footer_terms), terms_of_service_path
        / Social Links
        .col-md-6
          %ul.footer-socials.list-inline.social-icons
            %li
              =link_to '', '#', class: "rounded-x social_facebook"
            %li
              =link_to '', '#', class: "rounded-x social_googleplus"
            %li
              =link_to '', '#', class: "rounded-x social_twitter"
            %li
              =link_to '', '#', class: "rounded-x social_linkedin"
            %li
              =link_to '', 'https://www.youtube.com/channel/UCmEzPe4INE-cp7QY9ccd7eQ', class: "rounded-x social_youtube"
        / End Social Links
  / /copyright
/ === End Footer Version 1 ===